
 td, th {
  border: 1px solid black;
}
table {
  margin: 15px 0;
  border: 1px solid black;
  table-layout: fixed;
  width: 100%; /* must have this set */
}
html {
  background: #ccc;
}
body {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 10px;
}

.sturdy td:nth-child(1),
.sturdy td:nth-child(3) {
  width: 25%;
}
.sturdy td:nth-child(2) {
  width: 50%;
} 

.nobreak {
  white-space: nowrap;
}

.wider td {
  width: 300px;
}

.ignoreyou td:nth-child(1) {
  width: 10px;
}
.ignoreyou td:nth-child(2) {
  width: 30px;
}

.cut-off th:nth-child(1) {
  width: 75%;
}
.cut-off td:nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cut-off th:nth-child(2) {
  width: 25%;
}

.cut-off td:nth-child(2) span {
  display: block; 
}

.hide td {
  overflow: hidden;
}

.scroll-code td {
  overflow: auto;
}
